*{
    margin:0;
    padding:0;
  }
  
  header{

    height: 10vh;
    display:flex;
  
  }
  
  #logo img{
    height: 11vh;
    margin-left: 2vw;
  }
  #display{
    width: 50vw;
  }
  
  #user{
    width: 20vw;
  }
  
  main{
    margin: 2vh 2vw;
    min-height: 80vh;
  }
  
  #notes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
  }
  
  .card a{
    text-decoration: none;
    
  }
  
  #modal-view{
    border:1px solid #3c9634;
    position: absolute;
    display:none;
    width: 90vw;
    padding:10px;
     background-color: #876db6;
   
  }
  
  #close-modal{
    float:right;
  
  }
  
  #modal{
    border:1px solid #05a100;
    position: absolute;
    padding:2vh 2vw;
    display:none;
    width: 90vw;
    background-color: #439240;
    
 
  }
  
  #controls-note{
    display:flex;
    gap:10px;
    
  }

    body {
            font-family: Arial, sans-serif;
            background-image: url('https://i.pinimg.com/736x/17/d7/d2/17d7d2b0ec3c773606f38c7893f91456.jpg');
            margin: 0;
            padding: 0;
        }
        

button {
    padding: 10px 20px;
    background-color: #05a100;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #05a100;
}

.modal {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  
}

.card {
  background-color: #876db6;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
  color: #000000;
  font-style: unset;
}

p {
  color: #1a1919;
}
